#header {
    background: #FBA7F5;
    height: 180px;
}

.header_title {
    position: relative; 
    float: left;
    top: 5%;
    color: white;
    width: 100%;
}

.header_title_name {
    background: #B007A4;
    display: inline-block;
    width: 100%;
    font-size: 70px;
}

.header_title_position {
    font-size: 30px;
}

#avatar {
    position: absolute; 
    right: 50px; 
    top: 30px;
}

#left_content_div {
    float: left; 
    width: 50%;
}

#right_content_div {
    float: left; 
    width: 50%;
}

.content_section {
    margin: 30px;
}
.section_title {
    background: #FDAFDB;
    font-size: 30px;
    color: white;
    width: 100%;
    display: inline-block;
}

#content {
    background: #FED2EB;
    height: 500px;
}

#footer {
    background: #64115F;
    height: 80px;
}